includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon

parameters:
    ignoreErrors:
        -
            identifier: missingType.iterableValue
        - '#Access to an undefined property Ibexa\\Contracts\\Core\\Repository\\Values\\ValueObject::\$id.#'
        - '#Access to an undefined property Netgen\\TagsBundle\\API\\Repository\\Values\\Tags\\Tag::\$notDefined.#'
        - '#Missing call to parent::setUp\(\) method.#'
