<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="../../../../ezsystems/ezpublish-kernel/bootstrap.php"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         colors="false"
         >
    <testsuites>
        <testsuite name="Netgen\TagsBundle\Tests\Core">
            <directory>Tests/Core</directory>
        </testsuite>
        <testsuite name="Netgen\TagsBundle\Tests\SPI">
            <directory>Tests/SPI</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>.</directory>
            <exclude>
                <directory>API</directory>
                <directory>ApiLoader</directory>
                <directory>DependencyInjection</directory>
                <directory>Resources</directory>
                <directory>Tests</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
