<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="bootstrap.php"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         colors="false"
         >
    <testsuites>
        <testsuite name="Netgen\TagsBundle\Tests\Core">
            <directory>Tests/Core</directory>
        </testsuite>
        <testsuite name="Netgen\TagsBundle\Tests\SPI">
            <directory>Tests/SPI</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>.</directory>
            <exclude>
                <directory>API</directory>
                <directory>SPI</directory>
                <directory>Controller</directory>
                <directory>ApiLoader</directory>
                <directory>DependencyInjection</directory>
                <directory>Resources</directory>
                <directory>Tests</directory>
                <directory>vendor</directory>
                <directory>var</directory>
                <directory>extension</directory>
                <file>bootstrap.php</file>
                <file>NetgenTagsBundle.php</file>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
