.ez-view-navigationhubview .ez-navigation-ngtags {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* logo icon in top navigation */
.ez-view-navigationhubview .ez-ngtags-zone:before {
    background:#528036 url(../images/tags-logo-silhouette.svg) no-repeat 50% 50% !important;
    background-size:70% auto !important;
    width:32px;
    height:32px;
    content:"";
    display:inline-block;
    float:left;
    box-sizing:border-box;
    margin-right:4px;
}

.ng-tags-app .tags-tab-controls .tags-tab-control::after {
    background:#659e42;
}

.ng-tags-app .ng-tags-container {
    width:100%;
}

.pure-form .ng-tags-input {
    display:inline-block;
    margin:0;
    position:relative;
    top:2px;
}
.pure-form .ng-tags-input .tag-keyword {
    float:none;
}
