.ez-view-navigationhubview .ez-navigation-ngtags {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.ez-view-navigationhubview .ez-ngtags-zone:before {
    background:#528036 url(../images/tags-logo.svg) no-repeat 50% 50% !important;
    background-size:70% auto !important;
    width:32px;
    height:32px;
    content:"";
    display:inline-block;
    float:left;
    box-sizing:border-box;
    margin-right:4px;
}

.ng-tags-app .ng-tags-container {
    width:100%;
}

.ng-tags-input {
    display:inline-block;
    margin:0;
    position:relative;
    top:2px;
}
.ng-tags-input .tag-keyword {
    float:none;
    padding-left:0;
}
