.ng-tags-logo {
    height: 50px;
    width: $sidebarWidth; // from @netgen/admin-ui
    background: hsl(0, 0, 20) url('../images/tags-logo-full.svg') no-repeat center center;
    background-size: auto 60%;
}
