/* SUGGEST */

.ng-tags-input-ui .tagssuggestfieldwrap {float:left; position:relative; width:300px; margin:0 6px 0 0; vertical-align:top;}
.ng-tags-input-ui .tags-output {display:block;}
.ng-tags-input-ui .tags-input {clear: both; display:inline-block;}
.ng-tags-input-ui fieldset .button-add-tag {margin:0;}

.ng-tags-input-ui .tagssuggestfield {
    position:relative;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #333333;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ededed;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.ng-tags-input-ui button.button-add-tag,
.ng-tags-input-ui input.button-add-tag {
    color: #fff;
    background-color: #f15a10;
    border-color: #f15a10;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.ng-tags-input-ui button.button-add-tag.button-disabled,
.ng-tags-input-ui input.button-add-tag.button-disabled {
    background-color: rgba(241, 90, 16, 0.7);
}

.ng-tags-input-ui button.button-add-tag:not(.button-disabled):hover,
.ng-tags-input-ui input.button-add-tag:not(.button-disabled):hover {
    cursor: pointer;
}

.ng-tags-input-ui .tagssuggestfield:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(241, 90, 16, 0.25);
}

.ng-tags-input-ui .jsonSuggestResults {
    display: none;
    top:100%;
    border:1px solid #BBBBBB;
    background: white;
    padding:0;
    /*margin:-1px 0 0;*/
    z-index:100000;
    overflow:hidden;
    width:100%;
-webkit-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.75);
-moz-box-shadow:    0 2px 7px rgba(0, 0, 0, 0.75);
box-shadow:         0 2px 7px rgba(0, 0, 0, 0.75);
position:         absolute;
}

.ng-tags-input-ui .jsonSuggestResults .results-wrap {
    overflow-x:hidden;
    overflow-y:auto;
    /*height:250px;*/
}

.ng-tags-input-ui .jsonSuggestResults iframe {
    display:none;/*sorry for IE5*/
    display/**/:block;/*sorry for IE5*/
    position:absolute;/*must have*/
    top:0;/*must have*/
    left:0;/*must have*/
    z-index:-1;/*must have*/
    filter:mask();/*must have*/
    width:3000px;/*must have for any big value*/
    height:3000px;/*must have for any big value*/
}

.ng-tags-input-ui .jsonSuggestResults .resultItem {
    display:block;
    float:none;
    margin:0;
    padding:0;
    position:relative;
    z-index:1;
    height:auto;
    cursor:pointer;
}
.ng-tags-input-ui .jsonSuggestResults .resultItem.itemSynonym {font-style: italic;}
.ng-tags-input-ui .jsonSuggestResults .resultItem a {padding:5px;}
.ng-tags-input-ui .jsonSuggestResults .resultItem a img{margin-right:5px;}

.ng-tags-input-ui .jsonSuggestResults .resultItem:nth-child(odd) {background-color:white;}
.ng-tags-input-ui .jsonSuggestResults .resultItem:nth-child(even) {background-color:#F5F5F5;}
.ng-tags-input-ui .jsonSuggestResults .resultItem a:hover,
.ng-tags-input-ui .jsonSuggestResults .resultItem a:focus {background-color:#D1DFE9;}

.ng-tags-input-ui .jsonSuggestResults .resultItem img {float:left; margin-right:10px;}

.ng-tags-input-ui .jsonSuggestResults .resultItem {font-size:0.9em;}
.ng-tags-input-ui .jsonSuggestResults .resultItem strong {font-weight:bold;}
.ng-tags-input-ui .jsonSuggestResults .resultItem a{display: block;}

/*.ng-tags-input-ui .jsonSuggestResults .resultItem p.extra {position:absolute; bottom:3px; right:3px;}*/
.ng-tags-input-ui .jsonSuggestResults .resultItem span {float:right;margin-left:2em;color:grey;}

.ng-tags-input-ui .tagssuggest ul {list-style:none; margin:10px 0 0; padding:0;}
.ng-tags-input-ui .tagssuggest li {margin:0 6px 10px 0; padding:3px 8px 3px 8px; float:left; color:white; background:#476CA3; border:1px solid #CACACA; border-radius:3px 3px 3px 3px; white-space:nowrap; position:relative;}
.ng-tags-input-ui .tagssuggest .with_sortable li{cursor: move;}
.ng-tags-input-ui .tagssuggest li img {position:absolute; left:8px; top:50%; margin-top:-6px;}
.ng-tags-input-ui .tagssuggest li a {display:inline-block; vertical-align: middle; font-size:20px; margin:0 0 0 8px; cursor:pointer; color:white; text-decoration:none; outline:none; font-weight:bold;}
.ng-tags-input-ui .tagssuggest li.untranslated {cursor:pointer;} /*NOTE: what is this class?*/
.ng-tags-input-ui .tagssuggest li a:hover {color:black;}
.ng-tags-input-ui .tagssuggest .tags-suggested ul li {background:grey; border:1px solid black; cursor:pointer; font-weight:normal;}

.ng-tags-input-ui .tags-list p.loading,
.ng-tags-input-ui .tags-list p.no-results {line-height:24px; height:24px; margin:10px 0; display:none;}
.ng-tags-input-ui .loading p.loading {display:block;}
.ng-tags-input-ui .no-results p.no-results {display:block;}

/* tags select */
.ng-tags-input-ui .selects .js-tag-select {
    display:inline-block;
    width:auto;
    margin:0 8px 8px 0;
}
