{% for message in app.session.flashBag.get('tags.success') %}
    <div class="tags-message tags-message-success">
        {{ message }}
    </div>
{% endfor %}

{% for message in app.session.flashBag.get('tags.errors') %}
    <div class="tags-message tags-message-error">
        {{ message }}
    </div>
{% endfor %}
