{% trans_default_domain 'eztags_admin' %}

<!DOCTYPE html>
<html lang="{{ app.request.locale|replace({'_': '-'}) }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="theme-color" content="#02a6f2">

    <title>
        {# Title block; it can be overriden by other templates extending this one #}
        {% block title %}
            {{ 'pagelayout.title'|trans }}
        {% endblock %}
    </title>

    {# Block which includes stylesheets template, where all stylesheet files are called. #}
    {% block stylesheets %}
        {% include 'NetgenTagsBundle:admin:stylesheets.html.twig' %}
    {% endblock %}

    {# Block which includes javascripts template, where all javascript files are called. #}
    {% block javascripts %}
        {% include 'NetgenTagsBundle:admin:javascripts.html.twig' %}
    {% endblock %}
</head>
<body>
<div class="ng-tags-app">
    <div class="ng-tags-container">
        <div class="tags-sidebar">
            <div class="main-menu">
                {# Rendering tags tree as main menu #}
                {% include 'NetgenTagsBundle:admin/tree:tree.html.twig' with {'tagsTreeId': 'main'} %}
            </div>
        </div>

        <div class="tags-content">
            {# This is where all content goes. This block is overriden by templates extending this one. #}
            {% block content %}{% endblock %}
        </div>
    </div>
</div>
</body>
</html>
