{% trans_default_domain 'eztags_admin' %}

{% set rootTagId = rootTagId|default(0) %}
{% set showRootTag = showRootTag|default(true) %}
{% set selectedTag = selectedTag|default(null) %}

{% block tags_tree %}
    <div
        class="tags-tree"
        data-path="{{ path('netgen_tags_admin_tree_get_children', {'tagId': '_tagId_'}) }}"
        data-rootTagId="{{ rootTagId }}"
        data-showRootTag="{{ showRootTag ? 'true' : 'false' }}"
        data-selectedTagPath="{{ selectedTag ? selectedTag.pathString : '' }}"
    ></div>
{% endblock %}
