{% block eztags_field %}
    {% for tag in field.value.tags %}
        <a href="{{ path(tag) }}">{{ netgen_tags_tag_keyword(tag) }}</a>{% if not loop.last %}, {% endif %}
    {% endfor %}
{% endblock %}
