{% block eztags_field %}
    {% for tag in field.value.tags %}
        <a href="{{ path('eztags_tag_url', {'tagId': tag.id}) }}">{{ tag.keyword }}</a>{% if not loop.last %}, {% endif %}
    {% endfor %}
{% endblock %}
