{% extends eztags_admin.pageLayoutTemplate %}

{% trans_default_domain 'eztags_admin' %}

{% block content %}
    <h2 class="ng-ui-title">{{ 'dashboard.title'|trans }}</h2>

    {% include '@NetgenTags/admin/flash_messages.html.twig' %}

    {% include '@NetgenTags/admin/tag/children.html.twig' with {'childrenTags': childrenTags} %}
{% endblock %}
