{% for message in app.session.flashBag.get('errorMessages') %}
    {# Show error messages from flash messages, if any #}
    <div class="error_messages_container" style="background: indianred">
        {{ message }}
    </div>
{% endfor %}
