{% for message in app.session.flashBag.get('successMessages') %}
    {# Show success messages from flash messages, if any #}
    <div class="success_messages_container" style="background: palegreen">
        {{ message }}
    </div>
{% endfor %}
