div.whiteOverlay {background:white;}
div.jqmDialog {display:none; position:fixed; top:17%; left:50%; width:400px;}
div.jqmdIn {position:relative; left:-200px; padding:10px;}

div.jqmdTC {height:23px; font-size:11px; color:white; font-weight:bold; margin:0 6px; position:relative;
  background:url(../images/jqmodal/horizontal.gif) repeat-x left -23px;}
span.jqmdTCLeft {display:block; height:23px; width:6px; position:absolute; top:0; left:-6px; background:url(../images/jqmodal/corners.gif) no-repeat -6px top;}
span.jqmdTCRight {display:block; height:23px; width:6px; position:absolute; top:0; right:-6px; background:url(../images/jqmodal/corners.gif) no-repeat -18px top;}
span.jqDrag {cursor:move; display:block; height:23px; line-height:23px; margin:0 35px 0 0; padding:0 0 0 35px; text-align:center;}


div.jqmdBL {border:1px solid black; border-top:none; padding:0 1px 1px 1px; background:white;}
div.jqmdBR {border:2px solid #efebe7; border-top:none;}
div.jqmdBC {border:1px solid #b5a69c; border-top:none; background:#f0f0ee; padding:8px; overflow:auto; max-height:350px;}
div.jqmdBCIn {border:1px solid #919b9c; padding:13px; background:white;}



a.jqmdX {display:block; height:16px; width:29px; position: absolute; right:16px; top:14px; cursor:pointer; outline:none;
    background:url(../images/jqmodal/buttons.gif) no-repeat -87px -16px;}
a.jqmdX:hover {background-position:-87px -32px;}

div.jqmDialog div.contentstructure ul.content_tree_menu {margin:0;}
