/* SUGGEST */

.tagssuggestfieldwrap {float:left; position:relative; width:300px; margin:0 6px 0 0; height:22px; vertical-align:top;}
.tagssuggestfield {width:100%; height:20px; margin:0; padding:1px 0; position:relative;/* border:1px solid #A5ACB2;*/}
fieldset .button-add-tag {margin:0;}

.jsonSuggestResults {
    display: none;
    top:19px;
    border:1px solid #BBBBBB;
    background: white;
    padding:0;
    /*margin:-1px 0 0;*/
    z-index:100000;
    overflow:hidden;
    width:100%;
-webkit-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.75);
-moz-box-shadow:    0 2px 7px rgba(0, 0, 0, 0.75);
box-shadow:         0 2px 7px rgba(0, 0, 0, 0.75);
position:         absolute;
}

.jsonSuggestResults .results-wrap {
    overflow-x:hidden;
    overflow-y:auto;
    /*height:250px;*/
}

.jsonSuggestResults iframe
{
    display:none;/*sorry for IE5*/
    display/**/:block;/*sorry for IE5*/
    position:absolute;/*must have*/
    top:0;/*must have*/
    left:0;/*must have*/
    z-index:-1;/*must have*/
    filter:mask();/*must have*/
    width:3000px;/*must have for any big value*/
    height:3000px;/*must have for any big value*/
}

.jsonSuggestResults .resultItem {
    display:block;
    float:none;
    margin:0;
    padding:0;
    position:relative;
    z-index:1;
    height:auto;
    cursor:pointer;
}
.jsonSuggestResults .resultItem a {padding:5px;}
.jsonSuggestResults .resultItem a img{margin-right:5px;}

#search .jsonSuggestResults p {color:black;}

.jsonSuggestResults .resultItem:nth-child(odd) {background-color:white;}
.jsonSuggestResults .resultItem:nth-child(even) {background-color:#F5F5F5;}
.jsonSuggestResults .resultItem a:hover,
.jsonSuggestResults .resultItem a:focus {background-color:#D1DFE9;}

.jsonSuggestResults .resultItem img {float:left; margin-right:10px;}

.jsonSuggestResults .resultItem {font-size:0.9em;}
.jsonSuggestResults .resultItem strong {font-weight:bold;}
.jsonSuggestResults .resultItem a{display: block;}

/*.jsonSuggestResults .resultItem p.extra {position:absolute; bottom:3px; right:3px;}*/
.jsonSuggestResults .resultItem span {float:right;margin-left:2em;color:grey;}


.tagssuggest ul {list-style:none; margin:10px 0 0; padding:0;}
.tagssuggest li {margin:0 6px 10px 0; padding:3px 8px 3px 32px; float:left; color:white; background:#476CA3; border:1px solid #CACACA; border-radius:3px 3px 3px 3px; white-space:nowrap; position:relative;}
.tagssuggest .with_sortable li{cursor: move;}
.tagssuggest li img {position:absolute; left:8px; top:50%; margin-top:-6px;}
.tagssuggest li a {display:inline-block; vertical-align: middle; font-size:20px; margin:0 0 0 8px; cursor:pointer; color:white; text-decoration:none; outline:none; font-weight:bold;}
.tagssuggest li.untranslated {cursor:pointer;} /*NOTE: what is this class?*/
.tagssuggest li a:hover {color:black;}
.tagssuggest .tags-suggested ul li {background:grey; border:1px solid black; cursor:pointer; font-weight:normal;}

.tags-list p.loading,
.tags-list p.no-results {line-height:24px; height:24px; margin:10px 0; display:none;}
.loading p.loading {display:block;}
.no-results p.no-results {display:block;}

.tag-parent-selector {display:none;}
/*.tag-parent-selector #content_tree_menu .nodeicon {}*/

#ezt-translation-modal p.no-results {display:none;}
#ezt-translation-modal .no-results p.no-results {display:block;}

/* tags children filter box */

#action-filter-input {
    background: url("../images/search-icon.png") no-repeat scroll right padding-box #FFFFFF;
    border: 1px solid #666666;
    border-radius: 3px 3px 3px 3px;
    line-height: 19px !important;
    height: 19px;
    margin: 10px 0.25em;
    padding: 1px 20px 1px 4px;
    float: left;
}

/* tags select */
.selects .js-tag-select {
    display:inline-block;
    width:auto;
    margin:0 8px 8px 0;
}
