{% trans_default_domain 'eztags_admin' %}

{% block tags_tree %}
    {# Renders a tree inside modal window, for selecting tag inside forms. #}
    <div id="modal-tree-{{ tagsTreeId }}" class="modal">
        <div class="content">
            <span class="close" data-modalTreeId="{{ tagsTreeId }}">x</span>
            {%  if rootId is defined %}
                {% include 'NetgenTagsBundle:admin/tree:tree.html.twig' with {
                    'tagsTreeId': tagsTreeId,
                    'spanId': spanId,
                    'fieldId': fieldId,
                    'noValueText': noValueText,
                    'rootId': rootId
                } %}
            {% else %}
                {% include 'NetgenTagsBundle:admin/tree:tree.html.twig' with {
                    'tagsTreeId': tagsTreeId,
                    'spanId': spanId,
                    'fieldId': fieldId,
                    'noValueText': noValueText,
                } %}
            {% endif %}
        </div>
    </div>
{% endblock %}
