{% trans_default_domain 'eztags_admin' %}

{% block tags_tree %}
<div id="tags_tree"></div>

<script>
    $('document').ready(function () {
        $('#tags_tree').jstree({
            'core' : {
                'data' : {
                    'url' : function (node) {
                        var route = "{{ path('netgen_tags_admin_tree_get_children', {'tagId': "_tagId_"}) }}";
                        return route
                                .replace("_tagId_", node.id)
                                .replace("#", "{{ rootId }}/true")
                                ;
                    }
                }
            },
        });
    });
</script>
{% endblock %}
