{% extends '@EzPlatformAdminUi/layout.html.twig' %}

{% trans_default_domain 'eztags_admin' %}

{% block title %}{{ 'pagelayout.title'|trans }}{% endblock %}

{% block pageTitle %}{% endblock %}

    {% block stylesheets %}
        {{ parent() }}

        {% include '@NetgenTags/admin/stylesheets.html.twig' %}
    {% endblock %}

    {% block javascripts %}
        {{ parent() }}

        {% include '@NetgenTags/admin/javascripts.html.twig' %}
    {% endblock %}

{# @todo Not implemented yet #}
{% block pre_content %}
    <div class="ng-tags-app">
        {% include '@NetgenTags/admin/header.html.twig' %}

        <section class="ng-tags-container">
            <div class="tags-sidebar tags-sidebar-resizable">
                <div class="main-menu">
                    {% include '@NetgenTags/admin/main_menu.html.twig' %}
                </div>
            </div>

            <div class="tags-content">
                <div class="path">
                    {% include '@NetgenTags/admin/path.html.twig' %}
                </div>
{% endblock %}

{# @todo Not implemented yet #}
{% block post_content %}
            </div>
        </section>
    </div>
{% endblock %}
