{% block eztags_field %}
    {% for tag in field.value.tags %}
        <a href="{{ path('netgen_tags_admin_tag_show', {'tagId': tag.id}) }}">{{ tag.keyword }}</a>{% if not loop.last %}, {% endif %}
    {% endfor %}
{% endblock %}
