{% block eztags_field %}
{% spaceless %}
    {% for tag in field.value.tags %}
        <a href="{{ path('netgen_tags_admin_tag_show', {'tagId': tag.id}) }}">{{ netgen_tags_tag_keyword( tag ) }}</a>{% if not loop.last %}, {% endif %}
    {% endfor %}
{% endspaceless %}
{% endblock %}
