{% for message in app.session.flashBag.get('tags.success') %}
    <div class="ng-ui-message ng-ui-message-success">
        {{ message }}
    </div>
{% endfor %}

{% for message in app.session.flashBag.get('tags.errors') %}
    <div class="ng-ui-message ng-ui-message-error">
        {{ message }}
    </div>
{% endfor %}
